@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Estilo Tema principal */
:root {
  --ifm-color-primary: #3b49df; /* Azul similar */
  --ifm-font-family-base: "Inter", sans-serif; /* Fuente*/
}

/* Sidebar estilo GitBook */
.menu {
  padding: 1rem;
  border-right: 1px solid #e5e7eb;
}

.menu__link {
  border-radius: 6px;
  padding: 8px 12px;
  margin: 4px 0;
}

.menu__link:hover {
  background: #f3f4f6;
}

/* Contenido principal */
.markdown {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

/* Header estilo GitBook */
.navbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #e5e7eb;
}

/* Bloques de código */
.prism-code {
  border-radius: 8px;
  padding: 1.25rem !important;
  background: #f9fafb !important;
  border: 1px solid #e5e7eb !important;
}